
.cart-item{
    margin:0 0 1rem 0;
}

.btn {
    font-size: 1rem;
}

.price-details-heading {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--dark-grey);
}

.price-detail {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
}

.total-amount-heading {
    border-top: 1px solid var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
    margin: 0.5rem 0;
}

.place-order {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.place-order>button {
    margin-top: 0.5rem;
    width: 100%;
}


@media only screen and (max-width: 860px){
   
    .cart-items{
        margin:3rem 0rem 1rem ;
        justify-items: center;
    }

}

@media only screen and (max-width: 540px){

    .cart-items{
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 2rem;
    }
}