@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://cosmicui.netlify.app/components/component.css");

:root {
    font-family: 'Exo 2', sans-serif;
    --blue-100:#00b1e6;
    --blue-500: #002733;
    --grey: #f3f4f6;
    --medium-grey: #cccccc;
    --grey-100: #fafeff;
    --gradient-light-blue:#2173d6ce;
    --gradient-dark-blue:#195373e3;
}

*{
    margin:0;
    padding:0;
}

/* card background : fdfeff */
a,
button {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}

body {
    letter-spacing: 0px;
}

.btn-primary {
    background-color: var(--blue-100);
}

.btn-primary-outline {
    border: 1px solid var(--blue-100);
    color: var(--blue-100);
}
